<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="sessionIDManager" class="org.slstudio.acs.tr069.session.idmanager.MemorySessionIDManager" >
    </bean>
    <bean id="sessionManager" class="org.slstudio.acs.tr069.session.sessionmanager.MemorySessionManager" >
        <property name="sessionIDManager" ref="sessionIDManager" />
    </bean>
    <bean id="sessionContextFactory" class="org.slstudio.acs.tr069.session.factory.TR069SessionContextFactory" >
    </bean>
    <bean id="contextLocator" class="org.slstudio.acs.tr069.session.contextlocator.DefaultSessionContextLocator" >
        <property name="sessionContextFactory" ref="sessionContextFactory" />
        <property name="sessionManager" ref="sessionManager" />
        <property name="sessionIDManager" ref="sessionIDManager" />
    </bean>
    <bean id="tr069Engine" class="org.slstudio.acs.tr069.engine.TR069Engine">
        <property name="engineID" value="tr069" />
        <property name="contextLocator" ref="contextLocator" />
    </bean>
    <bean id="tr069AM1Engine" class="org.slstudio.acs.tr069.engine.TR069AM1Engine">
        <property name="engineID" value="tr069AM1" />
        <property name="contextLocator" ref="contextLocator" />
    </bean>
    <bean id="tr069AM2Engine" class="org.slstudio.acs.tr069.engine.TR069AM2Engine">
        <property name="engineID" value="tr069AM2" />
        <property name="contextLocator" ref="contextLocator" />
    </bean>
    <bean id="tr069AM3Engine" class="org.slstudio.acs.tr069.engine.TR069AM3Engine">
        <property name="engineID" value="tr069AM3" />
        <property name="contextLocator" ref="contextLocator" />
    </bean>
    <bean id="tr069AM4Engine" class="org.slstudio.acs.tr069.engine.TR069AM4Engine">
        <property name="engineID" value="tr069AM4" />
        <property name="contextLocator" ref="contextLocator" />
    </bean>
    <bean id="tr069TestEngine" class="org.slstudio.acs.tr069.engine.TR069TestEngine">
        <property name="engineID" value="tr069Test" />
        <property name="contextLocator" ref="contextLocator" />
    </bean>
</beans>
