<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ACS</display-name>
    <servlet>
        <description>ACS Servlet</description>
        <display-name>ACS Servlet</display-name>
        <servlet-name>ACSServlet</servlet-name>
        <servlet-class>org.slstudio.acs.ACSServlet</servlet-class>
    </servlet>
    <servlet>
        <description>File ACS Servlet</description>
        <display-name>File ACS Servlet</display-name>
        <servlet-name>FileACSServlet</servlet-name>
        <servlet-class>org.slstudio.acs.FileACSServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Test Servlet</description>
        <display-name>Test Servlet</display-name>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.slstudio.acs.TestServlet</servlet-class>
    </servlet>
    <listener>
        <listener-class>org.slstudio.acs.ACSListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>ACSServlet</servlet-name>
        <url-pattern>/acs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileACSServlet</servlet-name>
        <url-pattern>/fileacs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>