<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ACS</display-name>
    <servlet>
        <description>ACS Servlet</description>
        <display-name>ACS Servlet</display-name>
        <servlet-name>ACSServlet</servlet-name>
        <servlet-class>org.slstudio.acs.ACSServlet</servlet-class>
    </servlet>
    <servlet>
        <description>File ACS Servlet</description>
        <display-name>File ACS Servlet</display-name>
        <servlet-name>FileACSServlet</servlet-name>
        <servlet-class>org.slstudio.acs.FileACSServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Debug ACS Servlet</description>
        <display-name>Debug ACS Servlet</display-name>
        <servlet-name>DebugACSServlet</servlet-name>
        <servlet-class>org.slstudio.acs.DebugACSServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Test Servlet</description>
        <display-name>Test Servlet</display-name>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.slstudio.acs.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.slstudio.acs.ACSListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>ACSServlet</servlet-name>
        <url-pattern>/acs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileACSServlet</servlet-name>
        <url-pattern>/fileacs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebugACSServlet</servlet-name>
        <url-pattern>/debug/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/webconsole/rest/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/app-context-all.xml</param-value>
    </context-param>
</web-app>